{% extends "TaskItEasy/layout.html" %}

{% block body %}
    <h1> Task It Easy </h1>
    <p> <a href="{% url 'register' %}">Register Now</a> </p>
    <form action= "{% url 'index' %}" method = "post">
      {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        
 
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" required></input>
        
        <button type="submit">Login</button>
      </form>
      
      
      
{% endblock %}

